
<footer class="py-4 bg-primary text-white text-center" >
  <div class="container">
    <p class="mb-1">OBSERVATORIO EN FRONTERAS</p>
    <nav>
      <a href="/" class="text-white me-3">Incio</a>
      <a href="/reports" class="text-white me-3">Reportes</a>
      <a href="/about" class="text-white">Acerca</a>
    </nav>
    <img src="/assets/images/logo-AECID.png" alt="Data USA" height="32">
    <img src="/assets/images/logo-OPS.png" alt="Data USA" height="32">
    <img src="/assets/images/logo-ids.png" alt="Data USA" height="32">
    <!--
    <p class="mt-3 mb-0 small">© Deloitte & Datawheel</p>-->
  </div>
</footer>
